<div class="ftvCnil" ng-if="show">
    <span>En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies à des fins statistiques, publicitaires et de personnalisation.</span>
    <a href="{{link}}" target="_blank" class="ftvCnil__link ftvCnil__link__desktop">Pour en savoir plus et paramétrer les cookies</a>
    <a href="{{link}}" target="_blank" class="ftvCnil__link ftvCnil__link__mobile">En savoir plus</a>
    <div class="ftvCnil__close" ng-click="close()"><span class="ftvCnil__close__text">X</span></div>
</div>
